@import './variables';

// Size - Line-height - font-weight
@mixin text-font ($font-size, $line-height, $font-w: 400) {
  font-size: $font-size ;
  line-height: $line-height ;
  font-weight: $font-w;
  margin: 0;
}

//link a hover
@mixin a-hover {
  color: var(--bs-red);
  border-color: var(--bs-red);
}





