@import "../bootstrap/scss/bootstrap.scss";
@import "./variables";
@import "./mixins";

.introducing-team {
  gap: $gap;
  padding-top: 48px;
  @include media-breakpoint-up (sm) {
    gap: $gap*9;
  }
}