@import "../bootstrap/scss/bootstrap.scss";
@import "./variables";
@import "./mixins";
@import "./service";
@import "./team";
@import "./button";

body {
  background: $body-bg-light;
  max-width: 1920px;
  @include text-font(16px, 28px);
  font-family: "Satoshi Light";
  
}

h1, h3, h4, h5, p {
  margin: 0 ;
}

p {
  color: var(--text-gray-700);
}

h1 {
  color: var(--text-gray-900);
  @include text-font(48px, 48px, 300);
  letter-spacing: -0.02em;
  @include media-breakpoint-up (md) {
    @include text-font(90px, 96px,300);
  }
}

h2 {
  @include text-font(48px, 60px);
}

h3 {
  @include text-font(21px, 28px);
  color: var(--text-gray-900);
}

h4 {
  color: var(--text-gray-900);
  @include text-font(20px, 36px);
}

h5 {
  @include text-font(15px, 28px);
}

h6 {
  @include text-font(12px, 16px, 700);
  color: var(--text-gray-500);
}

.section {
  border-top: 1px solid var(--border-brand-04);
  padding: 120px 0;
  @include media-breakpoint-up (lg) {
    padding: 160px 0;
  }
}

.title {
  h2 {
    max-width: 576px;
    margin-top: 16px
  }
  
  h4 {
    max-width: 576px;
    margin-top: 24px;
  }

  h5 {
    color: var(--text-brand-02);
  }
}

//nav
@import "./navbar";

// hero
.hero {
  &-button {
    gap: $gap*3;
    padding-top: 72px;
    @include media-breakpoint-up (xl) {
      padding-bottom: 330px;
    }
  }

  .banner {
    padding-top: 80px;
    @include media-breakpoint-up (xl) {
      bottom: -360px;
      height: 722px;
      padding-top: 0;
      position: absolute;
      width: calc(100% - ((100% - map-get($container-max-widths, 'xl'))/2 + 12px));
    }

    @include media-breakpoint-up (xxl) {
      width: calc(100% - ((100% - map-get($container-max-widths, 'xxl'))/2 + 12px));
    }

    img {
      width: 100%;
    }
  }
}

// services
.slick {
  &-index-service{
    @include media-breakpoint-up (xl) {
      padding-top: 360px;
    }
  }

  &-content {
    padding: 72px 0;

    &-box {
      width: 360px !important;
      margin-right: 72px;

      h3 {
        margin: 24px 0 0;
      }

      p {
        margin-top: 16px;
      }

      a {
        margin-top: 24px;
        margin-bottom: 4px;
        border-bottom: 1px solid var(--border-brand-04);
      }
    }
  }

  &-track {
    display: flex !important;
  }
}

#slick-services {
  background: $body-bg-dark;

  h2 {
    color: var(--bs-white);
  }

  h3 {
    color: var(--bs-white);
  }

  h4 {
    color: var(--text-brand-04);
  }

  p {
    color: var(--text-brand-04);
  }

  .slick-content{
    a {
      border-bottom: 1px solid var(--text-gray-700);
      color: var(--bs-white);
      &:hover {
        @include a-hover;
      }
    }
  }
}

// introducing
.introducing {
  .title {
    h4 {
      @include media-breakpoint-up (md) {
        margin-left: 264px !important;
      }
    }
  }

  &-content {
    gap: $gap*10;
    padding-top: 72px;

    @include media-breakpoint-up (md) {
      grid-template-columns: auto auto;
    }

    @include media-breakpoint-up (lg) {
      gap: $gap*22.5;
    }

    h3 {
      margin-top: 24px;
    }

    p {
      margin-top: 16px;
    }

    a {
      margin:16px 0 4px;
      border-bottom: 1px solid var(--border-brand-04);
      &:hover {
        @include a-hover;
      }
    }

    img {
      width: 100%;
    }
  }
}

// Projects.
#slick-index-project {
  img {
    height: 450px;
    width: 100%;
  }

  span {
    margin-top: 4px;
  }
}

// awards
.awards {
  @include media-breakpoint-up (lg) {
    display: flex;
  }

  img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }

  .title {
    h2, h4 { max-width: unset;}
  }

  &-content {
    max-width: 684px !important;

    &-list {
      padding: 48px 0;

      &-item {
        padding: 24px 0;
        border-bottom: 1px solid var(--text-brand-04);
      }

      #list-first {
        border-top: 1px solid var(--text-brand-04);
      }
    }
  }
}

//Journal.
.journal {
  &-content {
    @include media-breakpoint-up (xl) {
      &-box {
        max-width: 276px !important;
      }
    }

    &-box {
      padding-top: 64px;
      img {
        width: 100%;
      }

      a {
        border-bottom: 1px solid var(--border-brand-04);
        &:hover {
          @include a-hover;
        }
      }
    }
  }
}

//question
.question {
  background: $body-bg-dark;

  .container {
    @include media-breakpoint-up (lg) {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    h2 {
      color: var(--bs-white);
    }
  }

  &-button {
    gap: $gap*6;
    padding-top: 24px;
    @include media-breakpoint-up (lg) {
      padding-top: 0;
    }

  }

}

// 
.information {
  padding: 96px 0;

  .box {
    max-width: 276px;
  }

  &-content {
    border-bottom: 1px solid var(--border-brand-04);
    padding-bottom: 80px;

    .archi {
      p {
        padding-top: 18px;
      }

      .social {
        gap: $gap;
        padding-top: 24px;

        div {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          background: #E9E8E8;
          justify-content: center;
          align-items: center;
          display: flex;
        }
      }
    }

    .contact-information {
      grid-template-columns: repeat(3, 1fr);
      gap: $gap;

      h4 {
        margin-bottom: 16px;
      }

      .contact {
        padding-bottom: 32px;
      }
    }
  }

  .end-page {
    &-right span {
      color: var(--text-gray-700);
      border-bottom: 1px solid var(--border-brand-04);
    }
  }
}